body {
    margin-left: 150px; 
    width: 650px;
}

#questions {
    border: 1px solid lightgrey;
    border-radius: 15px;
}

#questions h3{
    padding-left: 10px;
}

#questions h4 {
    padding-left: 10px;
    font-family: arial, sans-serif;
    font-weight: lighter;
    border-top: 1px solid lightgrey;
    padding-top: 15px;
}

h3 {
    font-family: arial, sans-serif;
    font-weight: lighter;
}

.link {
    padding-left: 25px;
}

p {
    font-family: arial, sans-serif;
}